<div class="row">
  <div class="col s12">
    <h3 class="center-align">Course Listing</h3>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS111: Intro to Computer Science</span>
        <p>A thorough intro to Computer Science</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
</div>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A thorough intro to Computer Science</li>
</ul>

<ul>
  <li>Code: CS112</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A thorough intro to Computer Science</li>
</ul>
