body {
	font-family: "Roboto", sans-serif;
	margin: auto;
	width: 50%;
}

h1, ul {
  color: #1c1d1f;
}

h2 {
	margin-bottom: 5;
}

li {
  list-style-type: square;
}

.special {
	color: orange;
	font-weight: bold;
}

p em {
  color: rebeccapurple;
}
